<.header>
  Search and checkout books here
  <:actions>
    <.link href={~p"/members"}>
      <.button>Members</.button>
    </.link>
    <.link href={~p"/"}>
      <.button>Home</.button>
    </.link>
  </:actions>
</.header>
