<.header>
  New Member
  <:subtitle>Use this form to manage member records in your database.</:subtitle>
</.header>

<.member_form changeset={@changeset} action={~p"/members"} />

<.back navigate={~p"/members"}>Back to members</.back>
